<p id="notice"><%= notice %></p>

<h3>Questions</h3>

<div class="row">
  <div class="col-md-12">
  Name|Correct Answer|Total Answer
  <ul class="list-group">
      <% @questions.each do |question| %>
      <li class="list-group-item">
        <%= question.name %><t>|<t><%=question.correct%><t>|<t><%=question.total%>
        <ul class="list-inline pull-right">
          <li class="list-inline-item"><%= button_to 'Show', question, class: 'btn btn-primary',method: :get %></li>
          <li class="list-inline-item"><%= link_to 'Edit', edit_question_path(question),class: 'btn btn-primary' %></li>
          <li class="list-inline-item"><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %></li>
        </ul>
      </li>
    <% end %>
  </ul>

<br>
    <div>
      <%= button_to 'New Question', new_question_path, class: 'btn btn-primary',method: :get %>
    <div>
  </div>
</div>
