<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">
    <center>
        <ul class="list-group">
            <div class="col-md-offset-1 col-xs-10">
                <%if session[:user_id]%>
                    <li class="list-group-item"> <%= button_to 'Show Question', questions_path, action: :index, class: 'btn btn-primary', method: :get %></li>
                    <li class="list-group-item">
                        <form class="form-inline" action="/quiz/quest" method="get">
                            <span style="display:inline-block">
                                <label class="display:block" for="inlineFormInputName2">Tags</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="FooBar" name="tags">
                            </span>
                            <span style="display:inline-block">
                                <label class="display:block" for="inlineFormInputName3">No of Questions</label>
                                <input type="number" class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" placeholder="Questions" name="questions" value="4">
                            </span>                                                        
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </form>
                    </li>
                    <li class="list-group-item"><%= button_to 'High Score' , highscore_index_path, class: 'btn btn-primary', method: :get%>
                    <li class="list-group-item"><%= button_to "Sign out", signout_path, id: "sign_out", class: 'btn btn-danger' %></li>
                <%else%>
                    <%= link_to "/auth/facebook", id: "sign_in" do%>
                    <div class="btn-lg btn-block btn-social btn-facebook"> 
                        <i class="fa fa-facebook"></i> Sign in with Facebook
                    </div>
                    <% end %>
                <%end%>
            </div>
        </ul>
    </center></p>
  </div>
</div>